<div class="container mt-5">
  <div class="text-center">
    <%= cl_image_tag(current_user.profile_picture.key, class: "avatar-mylists mt-5") %>
    <h3 class="mt-2"><%= current_user.name %></h3>
    <h4 class="mt-1">@instagram_utilizador</h4>
  </div>
  <div class="mt-1">
    <h1 class="text-center mylist-h1">todas as suas listas</h1>
  </div>

  <div class="media-list">
    <% @user_list.each do |list| %>
      <% @list_item.last(1).each do |item| %>
        <% random_item = @list_item.sample %>
        <div class="media-card" style="background-image: url(<%= random_item.media["media_type"] == "IMAGE" ? random_item.media["media_url"] : random_item.media["thumbnail_url"] %>)">
          <%= link_to list.name, list_path(list.id), style: 'text-decoration: none; color: white;' %>
        </div>
        <% end %>
        <% end %>
  <div>
</div>
<div class="container fixed-bottom">
  <%= link_to "voltar", root_path, class: "general-button" %>
</div>
