<div class="container index-box" data-controller="media-list">

  <div id="#list-name-input">
    <h4>Qual será o nome da sua lista?</h4>
    <%= simple_form_for @list do |f| %>
        <%= f.input :name,
                    input_html: {data: {media_list_target: "input"}},
                    label_html: {hidden: true} %>
    <% end %>
  </div>

  <div id="medias-selector-input">
    <div class="d-flex justify-content-between align-items-center my-3">
      <h4>Selecione as publicações</h4>
    </div>

    <div class="container fixed-bottom">
      <div class="row justify-content-center">
        <div class="col-6 d-flex justify-content-center">
          <div class="general-button disabled" data-action="click->media-list#createList" data-media-list-target="add">
            Adicionar
          </div>
        </div>
      </div>
    </div>

    <div class="media-list" data-media-list-target="list" data-next-url=<%=@next_url%> data-after-url=<%=@after_url%>>
      <% @medias.each do |media| %>
          <%= render partial: "shared/media_card", locals: {media: media, selected: false} %>
      <% end %>
    </div>
  </div>

</div>
