<div class="container after-navbar">
  <div class="avatar-box2 text-center">
    <% if @list.user.profile_picture.attached? %>
      <%= cl_image_tag(@list.user.profile_picture.key, class: "avatar-mylists") %>
    <% else %>
      <%= image_tag('avatar_placeholder.png', class: "avatar-mylists mt-1") %>
    <% end %>
    <div class="current-user-name">
    <h3>lista criada por</h3>
    <h3><%=link_to "@#{@list.items.first.media['username']}", "https://www.instagram.com/#{@list.items.first.media['username']}", id:"gradient", target: "_blank" %></h3>
    </div>

  </div>

  <div class="mt-1">
    <h1 class="text-center mylist-h1"><%= @list.name %></h1>
  </div>

  <div class="media-list mb-3">
    <% @list.items.each do | item |  %>
      <a href="<%= item.media["permalink"] %>">
        <% img_url = (item.media["media_type"] == "VIDEO") ? item.media["thumbnail_url"] : item.media["media_url"] %>
        <div class="media-card" <%= image_url = img_url %>
       style="background-image:url(<%= image_url %>)">
          <% caption = item.media["caption"] %>
          <% max_length = 35 %> <!-- Número máximo de caracteres -->
          <p class="caption"><%= caption.length > max_length ? caption[0...max_length] + "..." : caption %></p>
        </div>
      </a>
    <% end %>
  </div>
  <div class="buttons-box2 text-center">
    <%= link_to "voltar", root_path, class: "general-button" %>
    <% unless @list.user == current_user %>
      <% if @list.favorites.map(&:user_id).include?(current_user.id) %>
        <%= link_to "desfavoritar", list_favorite_path(@list), class: "general-button", data: {turbo_method: :delete, turbo_confirm: "Tem certeza que quer desfavoritar a lista?"} %>
      <% else %>
        <%= link_to "favoritar", list_favorites_path(@list), class: "general-button", data: {turbo_method: :post} %>
      <% end %>
    <% end %>
    <% if @list.user == @user %>
      <%= link_to "editar", edit_list_path(@list), class: "general-button" %>
      <%= link_to 'apagar', list_path(@list), class: "general-button", data: {turbo_method: :delete, turbo_confirm: "Tem certeza que quer deletar a lista?"} %>
    <% end %>
  </div>
</div>
