<div class="container after-navbar signup">
  <div class="row d-flex justify-content-center">
    <div class ="box-form-signup col-8">
     <div class="form-inputs">
      <h2>Editar conta</h2>
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs">
            <%= f.input :name, required: true, autofocus: true %>
            <%= f.input :email, required: true, autofocus: true %>

            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
            <% end %>

            <%= f.input :password,
                        hint: "leave it blank if you don't want to change it",
                        required: false,
                        input_html: { autocomplete: "new-password" } %>
            <%= f.input :password_confirmation,
                        required: false,
                        input_html: { autocomplete: "new-password" } %>
            <%= f.input :current_password,
                        hint: "we need your current password to confirm your changes",
                        required: true,
                        input_html: { autocomplete: "current-password" } %>
            <%= f.input :profile_picture %>
          </div>

          <div class="form-actions mb-2 d-flex justify-content-space-between">
            <%= f.button :submit, "Atualizar conta", class: "general-button"  %>
            <!-- O botão de cancelar abaixo não está funcionando -->
            <%= button_to "Cancelar conta", registration_path(resource_name), style: "border: none", class: "general-button", data: { confirm: "Tem certeza?", turbo_confirm: "Tem certeza?" }, method: :delete %>
          </div>

        <% end %>
        <div class-"buttons-box">


        </div>
        <%= link_to "Voltar", :back %>

      </div>

    </div>
  </div>

</div>
