<div class="position-relative" data-action="click->media-list#select">
  <div class="media-card <%= selected ? 'media-selected' : '' %>" id="media"
    <%= image_url = (media["media_type"] == "VIDEO") ? media["thumbnail_url"] : media["media_url"] %>
    data-media="<%= media.to_json %>"
    style="background-image:url(<%= image_url %>)">
  </div>
  <div class="<%= selected ? '' : 'd-none' %> icon-container" id="selected">
    <i class="fa-solid fa-circle-check fa-lg top-left-icon" style="color: #ff5252;"></i>
    <div class="icon-background top-left-icon-bg"></div>
  </div>
  <div class="<%= selected ? 'd-none' : '' %> unselected-icon top-left-unselected-icon" id="unselected">
  </div>
</div>
